<nav>
  <h1>UNI Math Club!</h1>
  <a href="{{ site.baseurl}}/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="{{ site.baseurl}}/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>Weclome to the UNI Math Club website.</h2>
  <div id="bio">
    <p>This site contains all relevant information pertaining to the UNI Math Club and will be updated after each meeting with a brief recap so you can stay updated!</p>
	<p>Our next meeting is Wednesday, November 8th at <b>6:00PM in the math lounge (WRT 338).</b> Stop on by!</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
